source http://www.nuget.org/api/v2/

nuget BenchmarkDotNet 0.9.3 framework: >= net45
nuget xunit 2.1.0 framework: >= net451
nuget xunit.abstractions 2.0.0 framework: >= net452
nuget xunit.assert 2.1.0 framework: >= net451
nuget xunit.core 2.1.0 framework: >= net451
nuget xunit.extensibility.core 2.1.0 framework: >= net451
nuget xunit.extensibility.execution 2.1.0 framework: >= net451