source https://www.nuget.org/api/v2/

group Analyzers
  source https://www.nuget.org/api/v2/
  nuget AsyncUsageAnalyzers
  nuget Gu.Analyzers
  nuget IDisposableAnalyzers
  nuget PropertyChangedAnalyzers
  nuget ReflectionAnalyzers prerelease
  nuget StyleCop.Analyzers prerelease
  nuget WpfAnalyzers
  nuget JetBrains.Annotations

group Test
  source https://www.nuget.org/api/v2/
  storage: none
  nuget NUnit
  nuget Gu.Wpf.UiAutomation

group Benchmark
  source https://www.nuget.org/api/v2/
  storage: none
  nuget BenchmarkDotNet
