source http://www.nuget.org/api/v2/
framework: net45

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget NUnit

group Benchmark
  redirects: on
  source http://www.nuget.org/api/v2/
  framework: net461
  nuget BenchmarkDotNet
