[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = none

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = none
