type project
tags xaml wpf Balloon Gradient
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Geometry
licenseUrl http://opensource.org/licenses/MIT

releasenotes
  BUGFIX: Handle ZoomUniform & ZoomUniformToFill when child is not arranged yet.
  FEATURE: Expose more API on ZoomBox, ZoomNone(), ZoomUniform(), ZoomUniformToFill()

excludedgroups
  Analyzers