type project
tags xaml wpf Balloon Gradient
projectUrl https://github.com/JohanLarsson/Gu.Wpf.Geometry
licenseUrl http://opensource.org/licenses/MIT

excludeddependencies
  JetBrains.Annotations
  StyleCop.Analyzers
  WpfAnalyzers
  Gu.Analyzers